* {
    position: relative;
}

.d-none {
    display: none;
}

.d-flex {
    display: flex;
}

button {
    cursor: pointer;
    background-color: #ED9046;
    color: white;
    border-color: white;
    padding: 8px;
    font-weight: bold;
    border-radius: 8px;
    margin: 32px;
    transition: 300ms;
    font-family: 'Rye';
}

button:hover {
    background-color: #FFD600;
}

body {
    height: 100dvh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: linear-gradient(#4185A6, #FDD8A4, #64100E);
    /* background-image: url('../img/background_image/desert.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat; */
    font-family: 'Rye';
    font-size: 24px;
    color: #ED9046;

    h1 {
        text-shadow: 4px 4px 2px rgba(0, 0, 0, 0.8);
    }
}

#wrapper {
    width: 720px;
    height: 480px;

    canvas {
        background-color: black;

    }

    div {
        width: 100%;
        height: 100%;
        background-position: center;
        position: absolute;
        top: 0;
        left: 0;
        background-size: 100% 100%;
        background-repeat: no-repeat;
    }

    #start-screen {
        background-image: url('../img/9_intro_outro_screens/start/startscreen_1.png');
        justify-content: center;
        align-items: flex-start;
    }

    #controls-screen {
        background-color: #ED9046;
        color: white;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        table {
            width: 100%;
            height: 80%;
            display: flex;
            justify-content: center;
            align-items: center;

            tbody {
                width: 100%;
            }

            tr {
                width: 100%;

                display: flex;
                justify-content: space-around;
                align-items: center;

                td {
                    padding: 32px;
                    width: 50%;
                    text-align: center;
                }
            }
        }



    }

    #legal-notice-screen {
        background-color: #ED9046;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        color: white;
        overflow: auto;

        p {
            padding: 16px;
        }
    }

    #loser-screen {
        background-image: url('../img/9_intro_outro_screens/game_over/oh no you lost!.png');
        justify-content: center;
        align-items: flex-end;
    }

    #winner-screen {
        background-image: url('../img/You won, you lost/You Win A.png');
        background-color: rgba(0, 0, 0, 0.429);
        background-size: contain;
        justify-content: center;
        align-items: flex-end;
    }
}